.navBar{
  display: flex;

  width: 100%;
  padding: 56px 56px 56px 56px;
  box-sizing: border-box;

  justify-content: space-between; 
  align-items: center;
}

.navBar--nav{
  display: flex;
}

// inside navbar
.navBar--nav-items{
  margin: 0 32px 0 32px;

  text-transform: uppercase;
  word-spacing: -4px;
  color: rgba(255, 255, 255, 1.0);

  transition: word-spacing 0.7s;

  &:hover{
    word-spacing: 0px;
  }
  
}

.nav--action{
  display: flex;
  .nav--action-items{
    padding: 0 20px 0 20px;

  }
}



@media (max-width: 767px) {
  .navBar{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navBar{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navBar{
    display: none;
  }
}
@media (min-width: 1200px) {
  
}